name: Pytest

on:
  workflow_dispatch:
  schedule:
    - cron:  "0 0 * * 6"
  push:
    branches:
      - "master"
      - "dev*"
  pull_request:
    branches:
      - "master"
      - "dev"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@master
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade --requirement requirements.txt

      - name: Run tests with pytest
        run: |
          pytest
